<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HRC61498WK-back_end</display-name>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:3000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>com.demo.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.demo.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.demo.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>com.demo.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetch</servlet-name>
    <servlet-class>com.demo.servlet.FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch</servlet-name>
    <url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advanceSearch</servlet-name>
    <servlet-class>com.demo.servlet.AdvanceSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advanceSearch</servlet-name>
    <url-pattern>/advanceSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchCount</servlet-name>
    <servlet-class>com.demo.servlet.FetchCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchCount</servlet-name>
    <url-pattern>/fetchCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>predict</servlet-name>
    <servlet-class>com.demo.servlet.PredictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>predict</servlet-name>
    <url-pattern>/predict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAgingBucket</servlet-name>
    <servlet-class>com.demo.servlet.EditAgingBucket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAgingBucket</servlet-name>
    <url-pattern>/EditAgingBucket</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>AnalyticsView</servlet-name>
    <servlet-class>com.demo.servlet.AnalyticsView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyticsView</servlet-name>
    <url-pattern>/AnalyticsView</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PieData</servlet-name>
    <servlet-class>com.demo.servlet.PieData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieData</servlet-name>
    <url-pattern>/PieData</url-pattern>
  </servlet-mapping>
  
  
</web-app>